<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.jeff.PhoneApp" version = "1.0.0">

	<name>Jeffs Mobile App</name>

	<description>
		Some sort of mobile application
	</description>

	<author href="http://siebentag.com" email="jcann@dius.com.au">Jeffrey Cann</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/compass"/>

	<preference name="orientation" value="portrait" />

</widget>
